.VenueContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
}
  
.VenueImage {
    width: 400px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}